// font
$font: "Pretendard", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//color
$line_color: #5f27cd;

// Break Point
$desktop: 1400px;
$laptop: 1024px;
$tablet: 768px;
$mobile: 540px;
